.filters {
  padding: 16px;
  background-color: lightgrey;
}

.posts {
  list-style-type: none;
  margin-bottom: 0px;
  padding: 16px;
}

.paginator {
  text-align: center;
}

.paginator_page-number {
  font-weight: bold;
  padding: 0px 10px;
}

.paginator_button {
  padding: 0px 15px;
}

.paginator_button__inactive {
  pointer-events: none;
}